HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Node.js / NPM / pnpm ###
node_modules/
npm-debug.log
yarn-error.log
pnpm-lock.yaml
.pnpm-debug.log
.npmrc

### VitePress / Documentation ###
doc/node_modules/
doc/.vitepress/dist/
doc/.vitepress/cache/
doc/.DS_Store
doc/dist/

### Environment Files ###
.env
.env.local
.env.*.local

### OS ###
.DS_Store
Thumbs.db
.directory

### Frontend / Vue / Vite ###
flexboot4-web/node_modules
flexboot4-web/dist
flexboot4-web/dist-ssr
flexboot4-web/dist.zip
flexboot4-web/dist.tar
flexboot4-web/dist.war
flexboot4-web/.nitro
flexboot4-web/.output
flexboot4-web/*-dist.zip
flexboot4-web/*-dist.tar
flexboot4-web/*-dist.war
flexboot4-web/coverage
flexboot4-web/.cache
flexboot4-web/.turbo
flexboot4-web/.temp
flexboot4-web/dev-dist
flexboot4-web/.stylelintcache
flexboot4-web/yarn.lock
flexboot4-web/package-lock.json
flexboot4-web/.VSCodeCounter
flexboot4-web/**/backend-mock/data
flexboot4-web/.eslintcache
flexboot4-web/logs
flexboot4-web/*.log
flexboot4-web/npm-debug.log*
flexboot4-web/yarn-debug.log*
flexboot4-web/yarn-error.log*
flexboot4-web/pnpm-debug.log*
flexboot4-web/lerna-debug.log*
flexboot4-web/vite.config.mts.*
flexboot4-web/vite.config.mjs.*
flexboot4-web/vite.config.js.*
flexboot4-web/vite.config.ts.*
flexboot4-web/.history
flexboot4-web/.cursor
